<ion-view view-title="Accepted">
  <ion-content>

    <div class="card">

    <div class="item item-text-wrap">

        <div class="row">
          <div class="col">Delivery Add</div>
          <div class="col">{{deliveryAddress}}</div>
        </div>
        <div class="row">
          <div class="col">Pickup Add</div>
          <div class="col">{{pickupAddress}}</div>
        </div>
        <div class="row">
          <div class="col">

          </div>
        </div>

      </div>
      <div class="item item-divider">
        TimeSlot : {{timeslot}}
      </div>

      <div class="item item-divider">
        Date : {{date}}
      </div>
      </div>



  </ion-content>
</ion-view>
