<ion-view view-title="Order Details">
  <ion-content>

    <div class="card">

      <div class="item item-text-wrap">

        <div class="row">
          <div class="col">Delivery Add</div>
          <div class="col">{{item.orignalBody.deliveryAddress}}</div>
        </div>
        <div class="row">
          <div class="col">Pickup Add</div>
          <div class="col">{{item.orignalBody.pickupAddress}}</div>
        </div>
        <div class="item item-divider">
         <i class="icon ion-person"></i> Call Customer/Vendor
        </div>
        <div class="row">
          <div class="col">
          <a class="button button-block button-outline button-positive icon-left ion-ios-telephone" ng-href="tel:{{item.orignalBody.customerPhoneNo}}">Customer</a>
          </div>
          <div class="col">
            <a class="button button-block button-outline button-positive icon-left ion-ios-telephone" ng-href="tel:{{item.orignalBody.vendorPhoneNo}}">Vendor</a>
        </div>
        </div>
        <div class="item item-divider">
          <i class="icon ion-paper-airplane"></i> Accept/Reject Order
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-block button-positive" ng-click="accept(item.$id)">
              Accept
            </button>
          </div>
          <div class="col">
            <button class="button button-block button-assertive" ng-click="reject(item.$id)">
                 Reject
            </button>
          </div>
        </div>

      </div>
      <div class="item item-divider">
        TimeSlot : {{item.orignalBody.timeSlot}}
      </div>
    </div>
  </ion-content>
</ion-view>