<ion-view view-title="Tracking">
  <ion-content>
    <div class="card">
   <div class="item item-text-wrap">
    <i class="icon ion-person" ng-class= "changeClass(1)" style="left: 1%; position: relative; font-size: 35px"></i>
    <i class="icon ion-home" ng-class= "changeClass(2)" style="left:11%; position: relative; font-size: 35px"></i>
    <i class="icon ion-android-cart" ng-class= "changeClass(3)" style="left: 22%; position: relative; font-size: 35px"></i>
    <i class="icon ion-android-person" ng-class= "changeClass(4)" style="left: 35%; position: relative; font-size: 35px"></i>
    <i class="icon ion-bag" ng-class= "changeClass(5)" style="left: 46%; position: relative; font-size: 35px"></i>
   </div>
 </div>

     <!-- <div class = "item range" ng-class="rangeColorPainter" >

      <input type = "range" name = "track" min="0" max="100" value="{{value}}">
    </div> -->
    <button class="button button-block" ng-class="statusColor">
      {{showText}}
    </button>
    <div class="card" ng-model="item" ng-hide="nothingToSeeHere">
      <div class="item item-divider">
        {{item.itemName}}
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">Delivery Add</div>
          <div class="col">{{item.deliveryAddress}}</div>
        </div>
        <div class="row">
          <div class="col">Pickup Add</div>
          <div class="col">{{item.pickupAddress}}</div>
        </div>

      <button class="button button-block button-positive" ng-click="updateStatus()" ng-hide="finalised">
          {{buttonText}}
      </button>

      <button class="button button-block button-positive" ng-show="finalised" ng-click="availableOnes()">
            Go to available orders
      </button>
      </div>
      <div class="item item-divider">
        TimeSlot : {{item.timeSlot}}
      </div>
      <div ng-show="isCOD && amountVisible" class="item item-divider">
        Amount : {{item.Amount}}
      </div>
    </div>
    <div class="card" ng-show="nothingToSeeHere">
      <div class="item item-text-wrap">
        Click any orders to accept
      </div>
    </div>
    <div class="row">
      <div class="col">
      <a class="button button-block button-outline button-positive icon-left ion-ios-telephone" ng-href="tel:{{item.CustomerPhoneNo}}">Customer</a>
      </div>
      <div class="col">
        <a class="button button-block button-outline button-positive icon-left ion-ios-telephone" ng-href="tel:{{item.VendorPhoneNo}}">Vendor</a>
    </div>
    </div>
  </ion-content>
</ion-view>
